# 1. Try to print a prime number in between 1 to 1000

In [1]:
a = 1
b = 1000
while a<=b:
    if a > 1:
        for i in range(2, a):
            if (a % i) == 0:
                break
        else:
            print(a)
        
    a=a+1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

# 2. Try to write a function which is equivalent to print function in Python

# 3. Try to write a function which is a replica of list append,extend and pop function

In [76]:
a=[1,2,3,4]
b=[1,2,3,4]
c=[1,2,3,4,5,6,7,8,9,10,11,12,13]
def custom_append(original_list,*value_to_be_added):
    original_list[len(original_list):]=[value_to_be_added]
    return original_list

def custom_extend(original_list,*value_to_be_added):
    for i in value_to_be_added:
        original_list[len(original_list):]=[i]
    return original_list

def custom_pop(original_list):
    original_list=original_list[:len(original_list)-1]
    return original_list

print(custom_append(a,8,9,6,[6,7,8,5]))
print(custom_extend(b,8,9,10,34,5,6,7,8,54,3,56,7))
print(custom_pop(c))

[1, 2, 3, 4, (8, 9, 6, [6, 7, 8, 5])]
[1, 2, 3, 4, 8, 9, 10, 34, 5, 6, 7, 8, 54, 3, 56, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# 4. Try to write a lambda function which can return a concatenation of all the string that we will pass

In [23]:
conct=lambda a:["".join(i) for i in a]
conct("subhash is a")

['s', 'u', 'b', 'h', 'a', 's', 'h', ' ', 'i', 's', ' ', 'a']

# 5. Try to write a lambda function which can return list of square of all the data between 1-100

In [24]:
sqr=lambda a,b : [i**2 for i in range(a,b)]

In [25]:
sqr(1,101)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

# 6. Try to write a 10 different different exaple of lambda function with a choice of your tasks

In [26]:
exp1=lambda a,b: a+b
exp1(10,20)

30

In [27]:
exp1=lambda a,b: a*b
exp1(10,20)

200

In [28]:
exp1=lambda a,b: a/b
exp1(10,20)

0.5

In [29]:
exp1=lambda a,b: a**b
exp1(10,20)

100000000000000000000

In [30]:
exp1=lambda a,b: a%b
exp1(10,20)

10

In [31]:
exp1=lambda a,b,c: a+b*c
exp1(10,20,30)

610

In [32]:
exp1=lambda a,b: [i**2 for i in range(a,b)]
exp1(10,20)

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [33]:
exp1=lambda *a: [ i for i in a]
exp1(10,20,30,40)

[10, 20, 30, 40]

In [42]:
exp1=lambda **a:[ k for k in a]
exp1(f=10,a=20,c=30,d=40)

['f', 'a', 'c', 'd']

In [46]:
exp1=lambda **a:[ k for k in a.items()]
exp1(f=10,a=20,c=30,d=40)

[('f', 10), ('a', 20), ('c', 30), ('d', 40)]

# 7. Try to write a function whch can perform a read opertaion from.txt file

In [48]:
f=open('testing.txt')
for i in f:
    print(i)

Python Lambda Functions



Difficulty Level : Easy

Last Updated : 07 Jun, 2022

Python Lambda Functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python.



Python Lambda Function Syntax:



lambda arguments: expression

This function can have any number of arguments but only one expression, which is evaluated and returned.

One is free to use lambda functions wherever function objects are required.

You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.

It has various uses in particular fields of programming besides other types of expressions in functions.